@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');

body, h1, h2, h3, h4, h5, h6, p, span, a, li, td, th, input, textarea, button, label {
  font-family: 'Manrope', sans-serif;
}

footer {
            background-color: #09224f;
            color: white;
            text-align: center;
            padding: 20px;
        }

hr {
    background-color: #FFFFFF; /* white */
    height: 5px;
}


/* border: none; */
